/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Open+Sans:wght@300;400&display=swap');
/*global css*/
:root{
    /*global color*/
    --primary-color:#555;
    --secondary-color:#70B9B0;
    --text-color:#FFFFFF;
    --header-color:#343a40;
    --accent-color:#777;
    
    /*global font*/
    --primary-font:'Open Sans', sans-serif;
    --secondary-font:'Lato', sans-serif;
}
h1 h2 h3 h4 h5 h6{
    font-family:var(--secondary-font);
}
body{
    font-family: var(--primary-font);
    color:var(--accent-color);
}
/* header */
section#Header {
    background: #2d6760;
}
.logo {
  color:var(--text-color);
}
li.nav-item a {
    color: var(--secondary-color)!important;
}
li.nav-item a:hover{
    color:var(--text-color)!important;
}
/* Hero-section */
section#Hero {
    background-size: cover;
        background: rgba(112, 185, 176, 0.85);
        color:var(--text-color);
}
.started-btn {
    border: 1px solid var(--secondary-color);
    border-radius: 26px;
    color:var(--text-color);
    background:var(--secondary-color) ;
    padding: 9px 28px;
}
.started-btn:hover{
    color: var(--secondary-color);
    background:var(--text-color);
}
/* about-section */
ul li{
    list-style: none;
}
ul{
    padding-left: 0;
}
/* services  */
h4.descriotion {
    font-size: 18px;
    color:var(--primary-color)!important;
    font-weight: 700;
}
h4.descriotion:hover{
    color: var(--secondary-color)!important;
}
.icon {
    color: var(--secondary-color);
}
p.descriotion{
    font-size: 14px;
}
/* call-section  */
.call-inner{
    color:var(--text-color);
}
.call-btn{
    color:var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 26px;
    padding: 10px 32px;
    background: none;
}
.call-btn:hover{
    background:var(--secondary-color) ;
    border:none;
}